@font-face{
    font-family: Karla;
    src: url(./fonts/Karla-Regular.ttf);
}
@font-face{
    font-family: RobotoCondensed;
    src:url(./fonts/RobotoCondensed-Regular.ttf);
}
html,body{
    height: 100%;
    margin:0;
    font-family: Karla;
}

footer{
    text-align: center;
    font-family:RobotoCondensed ;
}
.contentContainer{
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flexItem{
    
}
.titleText{
    
}


